/HolaNetbeans/nbproject/private/
/JavaApplicationCalculadora/nbproject/private/
/ConversorDivisas/nbproject/private/
/PruebaConexion/nbproject/private/
/NuevoGui/nbproject/private/
/ConversorDivisas/build/
/NuevoGui/build/
/ConversorDivisas/dist/
